@use "../base/vars";
@use "../base/mixins";

.bread-crumbs {
  padding: 50px 0 80px;
  &__list {
    display: flex;
    column-gap: 16px;
  }
  &__item {
    position: relative;
    font-size: 16px;
    color: vars.$color-text-muted;
  }
  &__item + .bread-crumbs__item {
    &::before {
      content: "/";
      position: absolute;
      color: vars.$color-text-muted;
      top: 0;
      left: -10px;
    }
  }
  &__link {
    @include mixins.hover {
      color: vars.$color-focus;
    }

    @include mixins.focus {
      outline: none;
      color: vars.$color-focus;
    }
  }
}
