@use "../base/vars";
@use "../base/mixins";

.checkout {
  .input-numbers-only[type="number"]::-webkit-outer-spin-button,
  .input-numbers-only[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .input-numbers-only[type="number"] {
    -moz-appearance: textfield;
  }
  .radio-label {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
  }
  .radio-box {
  }
  .radio-style {
  }
  .radio-text {
    @extend %lora-400;
    font-size: 14px;
    line-height: 140%;
    opacity: 0.4;
  }
  &__content {
    display: flex;
    column-gap: 80px;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
  }
  &__info-item {
    display: flex;
    flex-direction: column;
  }
  &__info-title {
    @extend %lora-400;
    font-size: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid vars.$color-text-muted;
    margin-bottom: 32px;
  }
  &__infobox {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
  }
  &__infobox-label {
  }
  &__infobox-label--full {
    grid-column: 1/-1;
  }
  &__infobox-input {
    margin-top: 12px;
    opacity: 0.4;
    padding: 26px 5px 26px 32px;
    border: 1px solid vars.$color-text-muted;
    width: 100%;
  }
  &__infobox-selectwrap {
    position: relative;
    svg {
      right: 32px;
      bottom: 50%;
      transform: translateY(150%);
      user-select: none;
      position: absolute;
    }
  }
  &__infobox-select {
    appearance: none;
    margin-top: 12px;
    opacity: 0.4;
    padding: 26px 5px 26px 32px;
    border: 1px solid vars.$color-text-muted;
    width: 100%;
  }
  &__info-desc {
  }
  &__info-delbox {
  }
  &__info-radio {
    padding-top: 26px;
    padding-bottom: 26px;
    border-bottom: 1px solid vars.$color-text-muted;
  }
  &__info-radio--active {
    .radio-label {
      opacity: 1;
    }
  }
  &__infobox-agreementlink {
    width: 560px;
    opacity: 0.4;
    font-size: 16px;
    line-height: 140%;
    padding: 32px 0;
  }
  &__infobox-btn {
    padding: 28.5px;
    text-transform: uppercase;
    color: vars.$color-text-btn;
    background-color: vars.$color-accent;
    transition: opacity 0.3s ease-in-out;
    @include mixins.hover {
      opacity: 0.4;
    }
  }
  &__details {
    display: flex;
    flex-direction: column;
    width: 616px;
  }
  &__details-title {
    @extend %lora-400;
    font-size: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid vars.$color-text-muted;
    margin-bottom: 32px;
  }
  &__details-bag {
  }
  &__details-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: vars.$bg-border-muted;
    margin-bottom: 30px;
  }
  &__details-desc {
    padding: 10px 15px;
    font-size: 16px;
  }
  &__details-cleanall {
    display: flex;
    padding: 6px 7px;
  }
  &__details-items {
    display: flex;
    row-gap: 30px;
    flex-direction: column;
  }
  &__details-item {
    display: grid;
    grid-template-columns: 139px 1fr;
    margin-inline: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid vars.$color-text-muted;
  }
  &__card-details {
    margin-left: 20px;
  }
  &__card-img {
  }
  &__card-desc {
    @extend %opensans-700;
    font-size: 16px;
  }
  &__card-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__card-title {
    @extend %lora-400;
  }
  &__card-delete {
    display: flex;
  }
  &__card-size {
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  &__card-color {
    font-size: 16px;
    margin-bottom: 40px;
  }
  &__order {
  }
  &__order-title {
  }
  &__order-pricewrap {
  }
  &__order-subtotal {
  }
  &__order-numbers {
  }
  &__order-total {
  }
  &__order-btn {
  }
}

.checkout-top {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
  &__title {
    font-size: 64px;
    @extend %lora-400;
  }
}
