.header {
  padding: 20px 0 30px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
  }

  &__logo {
    width: 100%;
    text-align: center;
  }

  &__lang {
    display: flex;

    &--active {

    }
  }

  &__actions {

    &-list {
      display: flex;
      column-gap: 20px;
    }

    &-item {

    }
  }
}