@use "../base/vars";
@use "../base/mixins";

.our-blog {
  padding: 150px 0 100px;
  background-image: url("../img/our-blog/our-blog-decor.svg");
  background-repeat: no-repeat;
  background-position: left 290px bottom -3px;

  &__inner {
    padding-inline: 40px;
    grid-template-columns: 1fr 280px 330px;
    gap: 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }

  &__description {
    color: vars.$color-text-muted;
    font-size: 16px;
    width: 404px;
  }

  &__link {
    align-self: baseline;
    padding-inline: 92px;
  }

  &__box-right {
    grid-row: span 2;
    align-self: center;
  }

  &__box-bottom {
    grid-column: span 2;
    margin-left: auto;
  }

  &__box-img {
    margin-bottom: 20px;
  }

  &__box-link {
    display: block;
    margin-bottom: 5px;
    color: vars.$color-text-muted;

    transition: color 0.3s ease-in-out;

    @include mixins.hover {
      color: vars.$color-primary;
    }

    @include mixins.focus {
      color: vars.$color-focus;
      outline: none;
    }
  }

  &__box-date {
    @extend %opensans-300;
    font-size: 16px;
    color: vars.$color-primary;
  }
}
