{% for item in items %}
<article class="categories__item">
    <picture>
        <source srcset="img/blog/blog-{{item.img}}.avif" type="image/avif">
        <source srcset="img/blog/blog-{{item.img}}.webp" type="image/webp">
        <img class="categories__img" src="img/accessories/accessories-{{item.img}}.jpg" alt="{{item.name}}" loading="lazy">
    </picture>
    <a class="categories__name"  href="#">{{item.name}}</a>
    <a class="categories__title" href="#">{{item.description}}</a>
    <p class="categories__date">{{item.date}}</p>
</article>
{% endfor %}
