<div class="bread-crumbs">
  <div class="container">
    <ul class="bread-crumbs__list">
      <li class="bread-crumbs__item bread-crumbs__item--home">
        <a class="bread-crumbs__link" href="/">Home</a>
      </li>
      <li class="bread-crumbs__item bread-crumbs__item--collections">
        <a class="bread-crumbs__link" href="/collections.html">Collection</a>
      </li>
      <li class="bread-crumbs__item bread-crumbs__item--catalog">
        <a class="bread-crumbs__link" href="/catalog.html">Catalog</a>
      </li>
      <li class="bread-crumbs__item bread-crumbs__item--products">
        <a class="bread-crumbs__link" href="/products.html">Products</a>
      </li>
      <li class="bread-crumbs__item bread-crumbs__item--reviews">
        <a class="bread-crumbs__link" href="/reviews.html">Reviews</a>
      </li>
      <li class="bread-crumbs__item bread-crumbs__item--checkout">
        <a class="bread-crumbs__link" href="/checkout.html">Checkout</a>
      </li>
      <li class="bread-crumbs__item bread-crumbs__item--blog">
        <a class="bread-crumbs__link" href="/blog.html">Our Blog</a>
      </li>
      <li class="bread-crumbs__item bread-crumbs__item--blog-one">
        <a class="bread-crumbs__link" href="/blog-one.html">Blog</a>
      </li>
    </ul>
  </div>
</div>