<div class="copyright__row">
    <p class="copyright__title">© Luxurious Bridal Haven. All rights reserved.</p>
    <ul class="copyright__list">
        <li class="copyright__item">
            <a class="copyright__link" href="#!">Privacy Policy</a>
        </li>
        <li class="copyright__item">
            <a class="copyright__link" href="#!">Refund policy</a>
        </li>
        <li class="copyright__item">
            <a class="copyright__link" href="#!">Terms of Service</a>
        </li>
    </ul>
</div>