<footer class="footer">
  <div class="container">
    <nav class="footer__nav">
      <ul class="footer__nav--list">
        <li class="footer__nav--item">
          <a href="/catalog.html" class="footer__nav--link">Catalog</a>
        </li>
        <li class="footer__nav--item">
          <a href="collections.html" class="footer__nav--link">Collections</a>
        </li>
        <li class="footer__nav--item">
          <a href="/products.html" class="footer__nav--link">Our Products</a>
        </li>
        <li class="footer__nav--logo">
          <a href="/" class="footer__nav--link">
            <img src="img/logo.svg" alt="logo" loading="lazy">
          </a>
        </li>
        <li class="footer__nav--item">
          <a href="/appointment.html" class="footer__nav--link">Book your appointment</a>
        </li>
        <li class="footer__nav--item">
          <a href="/reviews.html" class="footer__nav--link">Reviews</a>
        </li>
      </ul>
    </nav>
    <div class="footer__elements">
      <div class="footer__element">
        <p class="footer__element--title">Phones</p>
        <ul class="footer__element--list">
          <li class="footer__element--item">
            <a href="tel:+380(97)8367320" class="footer__element--link">+380
              (97) 836 73 20
            </a>
          </li>
          <li class="footer__element--item">
            <a href="tel:+380(99)9846862" class="footer__element--link">+380
              (97) 836 73 20
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__element">
        <p class="footer__element--title">Emails</p>
        <ul class="footer__element--list">
          <li class="footer__element--item">
            <a
              href="mailto:office@luxuriousbridalhaven.com"
              class="footer__element--link"
            >office@luxuriousbridalhaven.com
            </a>
          </li>
          <li class="footer__element--item">
            <a
              href="mailto:sales@luxuriousbridalhaven.com"
              class="footer__element--link"
            >sales@luxuriousbridalhaven.com
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__element">
        <p class="footer__element--title">Location</p>
        <address class="footer__element--address">
          Ukraine, Kyiv, <br>
          st. Arsenalna, 5
        </address>
      </div>
      <div class="footer__element footer__element--social">
        <p class="footer__element--title">Social</p>
        <ul class="footer__social--list">
          <li class="footer__social--item">
            <a href="!#" class="footer__social--link">
              <svg class="footer__social--icon" width="24" height="24">
                <use xlink:href="/img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social--item">
            <a href="!#" class="footer__social--link">
              <svg class="footer__social--icon" width="24" height="24">
                <use xlink:href="/img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__element">
        <label class="footer__element--title" for="newsletter-email">Sign-up for
          our newsletter
        </label>
        <form action="" class="footer__form">
          <input
            class="footer__input"
            type="email"
            placeholder="Enter your email"
            id="newsletter-email"
          >
          <button class="footer__form--btn" type="submit">
            <svg class="footer__contact--icon__mail" width="15" height="11">
              <use xlink:href="/img/sprite.svg#letter"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <!--=include copyright.html -->
  </div>
</footer>
</div>
