<div class="wrapper">
    <!--=include discount.html -->
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">
                    <a href="#!" class="logo">
                        <img src="img/src/logo.svg" alt="logo" loading="lazy">
                    </a>
                </div>
                <ul class="header__lang">
                    <li class="header__lang-item"><a href="#!" class="header__lang-link header__lang--active">EN</a>
                    </li>
                    /
                    <li class="header__lang-item"><a href="#!" class="header__lang-link">UA</a></li>
                </ul>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item"><a href="#!" class="menu__link">SAVE 10% OFF WHEN YOU SIGN UP</a></li>
                        <li class="menu__item"><a href="#!" class="menu__link">CATALOG</a></li>
                        <li class="menu__item"><a href="#!" class="menu__link">COLLECTIONS</a></li>
                        <li class="menu__item"><a href="#!" class="menu__link">ABOUT</a></li>
                        <li class="menu__item"><a href="#!" class="menu__link">BOOK AN APPOINTMENT</a></li>
                    </ul>
                </nav>
                <ul class="header__actions-list">
                    <li class="header__actions-item"><a href="#!" class="header__actions-item">
                        <svg width="24" height="24">
                            <use xlink:href="img/sprite.svg#user"></use>
                        </svg>
                    </a></li>
                    <li class="header__actions-item"><a href="#!" class="header__actions-item">
                        <svg width="24" height="24">
                            <use xlink:href="img/sprite.svg#favorite"></use>
                        </svg>
                    </a></li>
                    <li class="header__actions-item">
                        <button type="button" class="header__actions-item">
                            <svg width="24" height="24">
                                <use xlink:href="img/sprite.svg#shopping-bag"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </header>
