<section
  class="hero"
  style="
    background-image: image-set(
      url('img/hero/hero-bg.webp') type('image/webp') 1x,
      url('img/hero/hero-bg@2x.webp') type('image/webp') 2x,
      url('img/hero/hero-bg.avif') type('image/avif') 1x,
      url('img/hero/hero-bg@2x.avif') type('image/avif') 2x,
      url('img/hero/hero-bg.jpg') 1x
    );
  "
>
  <div class="container">
    <div class="hero__content-wrapper grid grid--4">
      <div class="hero__content">
        <div class="hero__content-text">
          <h2 class="hero__content-title title">
            Spring 2024<br />
            collection
          </h2>
        </div>
        <a href="#!" class="hero__link btn btn--accent">SHOP NEW ARRIVALS</a>
      </div>
    </div>
  </div>
</section>
