<section class="new-collection">
    <div class="container">
        <div class="new-collection__inner">
            <div class="new-collection__content">
                <h2 class="new-collection__title title title--medium">
                    NEW COLLECTION
                </h2>
                <div class="new-collection__text">
                    <p class="new-collection__description"> Discover our new collection of wedding dresses that
                        impresses
                        with its beauty and elegance.
                    </p>
                    <p class="new-collection__description"> Each dress in this collection is crafted with love for
                        detail
                        and expertly executed to the highest standards of quality.
                    </p>
                    <p class="new-collection__description"> Regardless of your style and preferences, in our collection,
                        you
                        will find the dress of your dreams – from classic silhouettes to modern and original designs.
                    </p>
                </div>
                <div class="new-collection__btn">
                    <a href="#!" class="new-collection__link btn btn--alt">View the collection</a>
                </div>
            </div>
            <picture class="new-collection__img">
                <source srcset="img/new-collection/new-collection-1.avif" type="image/avif">
                <source srcset="img/new-collection/new-collection-1.webp" type="image/webp">
                <img src="img/new-collection/new-collection-1.jpg" alt="girl">
            </picture>
            <div class="new-collection__box">
                <picture class="new-collection__box-img">
                    <source srcset="img/new-collection/new-collection-2.avif" type="image/avif">
                    <source srcset="img/new-collection/new-collection-2.webp" type="image/webp">
                    <img src="img/new-collection/new-collection-2.jpg" alt="second girl">
                </picture>
                <p class="new-collection__caption">
                    Allow yourself to be enchanted by our wedding dresses and create a unique look for your most
                    important
                    day.
                </p>
            </div>
        </div>
    </div>
</section>