<section class="our-blog">
  <div class="container">
    <div class="our-blog__inner grid">
      <div class="our-blog__content">
        <h2 class="our-blog__title title title--medium">OUR BLOG</h2>
        <p class="our-blog__description">
          Luxurious Bridal Haven's blog is about inspiration and
          up-to-the-minute information from the wedding fashion world. Here you
          can find collection reviews, trunk shows announcements, guides, and
          lifehacks for wedding preparation.
        </p>
        <a class="our-blog__link btn btn--alt" href="#!"> Show more</a>
      </div>
      <picture>
        <source srcset="img/our-blog/our-blog-1.avif" type="image/avif"/>
        <source srcset="img/our-blog/our-blog-1.webp" type="image/webp"/>
        <img
          class="our-blog__img"
          src="img/our-blog/our-blog-1.jpg"
          alt="Alt text"
          loading="lazy"
        />
      </picture>
      <div class="our-blog__box our-blog__box-right">
        <picture>
          <source srcset="/img/our-blog/our-blog-2.avif" type="image/avif"/>
          <source srcset="/img/our-blog/our-blog-2.webp" type="image/webp"/>
          <img
            class="our-blog__box-img"
            src="/img/our-blog/our-blog-2.jpg"
            alt="Alt text"
            loading="lazy"
          />
        </picture>
        <a class="our-blog__box-link" href="#!">
          When to start shopping for your wedding dress
        </a>
        <p class="our-blog__box-date">Tuesday, 16 April 2024</p>
      </div>
      <div class="our-blog__box our-blog__box-bottom">
        <picture>
          <source srcset="/img/our-blog/our-blog-3.avif" type="image/avif"/>
          <source srcset="/img/our-blog/our-blog-3.webp" type="image/webp"/>
          <img
            class="our-blog__box-img"
            src="/img/our-blog/our-blog-3.jpg"
            alt="Alt text"
            loading="lazy"
          />
        </picture>
        <a href="#!" class="our-blog__box-link">
          Top 6 wedding dress trends brides should know
        </a>
        <p class="our-blog__box-date">Monday, 20 May 2024</p>
      </div>
    </div>
  </div>
</section>
