<section class="our-advantages">
  <div class="container">
    <div class="our-advantages__wrapper">
      <div class="our-advantages__img-wrapper">
        <picture>
          <source
            srcset="img/our-advantages/our-advantages-1.avif"
            type="image/avif"
          />
          <source
            srcset="img/our-advantages/our-advantages-1.webp"
            type="image/webp"
          />
          <img
            src="img/our-advantages/our-advantages-1.jpg"
            alt="woman in a wedding dress"
            class="our-advantages__img"
            loading="lazy"
          />
        </picture>
      </div>
      <img
        class="our-advantages__decor"
        src="img/our-advantages/our-advantages-decor.svg"
        alt=""
        loading="lazy"
      />
      <div class="our-advantages__inner">
        <h2 class="our-advantages__title title title--medium">
          OUR ADVANTAGES
        </h2>
        <ul class="our-advantages__list">
          <li class="our-advantages__item">The latest collections</li>
          <li class="our-advantages__item">15 years of experience</li>
          <li class="our-advantages__item">Quality guarantee</li>
          <li class="our-advantages__item">International brands</li>
          <li class="our-advantages__item">Individual tailoring</li>
          <li class="our-advantages__item">Free shipping</li>
        </ul>
      </div>
    </div>
  </div>
</section>
