@use "vars";

.container {
  margin: 0 auto;
  padding-inline: vars.$container-padding;

  max-width: vars.$container-width;
  width: 100%;
}

.container-big {
  margin-inline: auto;
  padding-inline: vars.$container-padding;
  max-width: vars.$container-big-width;
  width: 100%;
}
