@use "../base/vars";
@use "../base/mixins";

@media (max-width: 1550px) {
  .reviews__block-slider {
    overflow: hidden;
  }
  .blog__top-title {
    font-size: 40px;
  }
  .blog__top-description {
    font-size: 20px;
  }
  .blog__top-link {
    padding: 16px 32px;
  }
  .view-mode__cards--line .categories__img {
    min-width: 365px;
  }
  .blog-one h1 {
    font-size: 64px;
  }
}

@media (max-width: 1200px) {
  .hero {
    background-position: top center;
  }
  .new-collection__inner {
    margin-inline: 0;
  }
  .new-collection__link {
    margin-top: 90px;
  }
  .new-collection__img {
    img {
      max-width: 290px;
      height: 100%;
      object-fit: cover;
    }
  }
  .new-collection__box {
    max-width: 300px;

    img {
      height: 450px;
      object-fit: cover;
    }
  }
  .new-collection__content {
    padding: 4.6875rem 0 0 0;
    margin-right: -1.6875rem;
  }
  .new-collection__caption {
    width: 192px;
    padding: 27px 0 0 20px;
  }
  .blog__top {
    column-gap: 20px;
  }
  .blog__top-img {
    width: 600px;
  }
  .products__imgs {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 756px 370px;
    gap: 42px;
  }
  .products__imgs picture:last-of-type {
    grid-column: 1/-1;
    grid-row: 1;
  }
  .products__img {
    width: 220px;
  }
  .products__img-right {
    width: 480px;
  }
  .products__content {
    grid-template-columns: 1fr 1fr;
    row-gap: 42px;
    padding-right: 0
  }
  .products__btns {
    margin-top: 0;
  }
  .checkout__content {
    column-gap: 20px;
  }
  .checkout__card-details {
    margin-left: 10px;
  }
  .checkout__order {
    margin-top: 20px;
  }
  .checkout__order-btn {
    margin-top: 40px;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 960px;
  }
  .footer {
    &__elements {
      padding: 20px 0 10px 0;
      flex-wrap: wrap;
      gap: 30px 47px;
    }

    &__element--social {
      order: 1;
      width: 100%;
      justify-content: flex-end;

      .footer__element--title {
        display: none;
      }

      .footer__social--list {
        margin-top: -25px;
        order: 1;
      }

      .footer__social--link {
        display: flex;
      }
    }
  }
  .header__lang {
    margin-right: 90px;
  }
  .join-us__wrapper {
    column-gap: 25px;
  }
  .join-us__content {
    padding: 40px 0 26px;
  }
  .join-us__img {
    object-fit: cover;
    max-width: 500px;
    height: 100%;
  }
  .hero {
    .grid--4 {
      grid-template-columns: 1fr 1fr;
    }
  }
  .hero__content {
    grid-column: 2/5;
  }
  .hero__content-text {
    padding-top: 74px;
  }
  .hero__content-title {
    font-size: 80px;
  }
  .appointment__wrapper {
    padding-inline: 0;

    &.grid {
      column-gap: 20px;
    }
  }
  .blog__top {
    flex-direction: column;
    row-gap: 20px;
  }
  .blog__top-img {
    min-width: 100%;
    object-fit: cover;
    height: 45vh;
  }
  .blog__nav-boxright .search {
    margin-right: 0;
  }
  .blog__top-rightbox {
    margin-right: 20px;
  }
  .view-mode__cards--line .categories__img {
    min-width: 350px;
  }
  .categories__item {
    position: relative;
  }
  .categories__date {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .blog-one h3 {
    font-size: 26px;
  }
  .accessories__arrow {
    z-index: 55;
  }
  .catalog-top__views {
    display: none;
  }
  .catalog-top__filter-btn {
    display: block;
  }
  .catalog-filters {
    display: none;
  }
  .catalog-top__title {
    text-align: center;
  }
  .catalog-top {
    flex-wrap: wrap;
  }
  .collections {
    &__items {
      display: grid;
      grid-template-areas:none;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
    }

    &__item {
      overflow: hidden;
      height: 436px;

      img {
        width: 100%;
      }

      &:nth-child(1) {
        grid-area: auto;
      }

      &:nth-child(2) {
        grid-area: auto;
      }

      &:nth-child(3) {
        grid-area: auto;
      }

      &:nth-child(4) {
        grid-area: auto;
      }

      &:nth-child(5) {
        grid-area: auto;
        height: 100%;


        img {
          object-fit: cover;
          height: 100%;
        }
      }

      &:nth-child(6) {
        grid-area: auto;
      }

      &:nth-child(7) {
        grid-area: auto;
      }

      &:nth-child(8) {
        grid-area: auto;
      }

      &:nth-child(9) {
        grid-area: auto;
      }

      &:nth-child(10) {
        grid-area: auto;
        margin-top: 0;
        height: 100%;

        img {
          object-fit: cover;
          height: 100%;
        }
      }

      &:nth-child(11) {
        grid-area: auto;
        margin-top: 0;
        height: 100%;

        img {
          object-fit: cover;
          height: 100%;
        }
      }

      &:nth-child(12) {
        grid-area: auto;
        height: 100%;

        img {
          object-fit: cover;
          height: 436px;
        }
      }

      &:nth-child(13) {
        grid-area: auto;
      }

      &:nth-child(14) {
        grid-area: auto;
      }
    }
  }
  .checkout__infobox {
    grid-template-columns: 1fr;
  }
  .checkout__details-title {
    margin-bottom: 0;
  }
  .checkout__details-btn {
    display: block;
  }
  .bag {
    display: none;
  }
  .checkout__content {
    flex-direction: column-reverse;
  }
  .checkout__details {
    width: 100%;
    text-align: center;
  }
  .checkout__card-size {
    text-align: left;
  }
  .checkout__card-color {
    text-align: left;
  }
}

@media (max-width: 950px) {
  .collections {
    &__items {
      display: grid;
      grid-template-areas:none;
      grid-template-columns: repeat(2, 270px);
      gap: 40px;
      justify-content: center;
    }

    &__item {
      overflow: hidden;
      height: 436px;

      img {
        width: 100%;
      }

      &:nth-child(1) {
        grid-area: auto;
      }

      &:nth-child(2) {
        grid-area: auto;
      }

      &:nth-child(3) {
        grid-area: auto;
      }

      &:nth-child(4) {
        grid-area: auto;
      }

      &:nth-child(5) {
        grid-area: auto;
        height: 100%;

        img {
          object-fit: cover;
          height: 436px;
        }
      }

      &:nth-child(6) {
        grid-area: auto;
      }

      &:nth-child(7) {
        grid-area: auto;
      }

      &:nth-child(8) {
        grid-area: auto;
      }

      &:nth-child(9) {
        grid-area: auto;
      }

      &:nth-child(10) {
        grid-area: auto;
        margin-top: 0;
        height: 100%;

        img {
          object-fit: cover;
          height: 100%;
        }
      }

      &:nth-child(11) {
        grid-area: auto;
        margin-top: 0;
        height: 100%;

        img {
          object-fit: cover;
          height: 100%;
        }
      }

      &:nth-child(12) {
        grid-area: auto;
        height: 100%;

        img {
          object-fit: cover;
          height: 436px;
        }
      }

      &:nth-child(13) {
        grid-area: auto;
      }

      &:nth-child(14) {
        grid-area: auto;
      }
    }
  }
}

@media (max-width: 920px) {
  .container {
    max-width: 660px;
  }
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    background-color: vars.$color-text-muted;
    z-index: 15;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__btn {
      position: relative;
      display: inline-block;
      z-index: 20;
      display: flex;
    }

    &__list {
      align-items: center;
      flex-direction: column;
      row-gap: 80px;
    }
  }
  .menu.menu--active {
    transform: translateY(0);
  }
  .header__logo {
    width: auto;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 87px;
  }
  .footer__nav--list {
    position: relative;
    padding: 70px 0 30px 0;
    column-gap: 35px;
  }
  .footer__nav--logo {
    position: absolute;
    top: 20px;
  }
  .footer__elements {
    gap: 30px 70px;
  }
  .copyright__row {
    justify-content: center;
    column-gap: 90px;
  }
  .header__lang {
    margin-bottom: 50px;
    margin-right: 0;
  }
  .join-us__img {
    max-width: 320px;
  }
  .join-us__title {
    font-size: 30px;
  }
  .join-us__description {
    font-size: 20px;
  }
  .join-us__input + .join-us__input {
    margin-top: 0;
  }
  .hero__content-title {
    font-size: 45px;
  }
  .new-collection__box {
    display: none;
  }
  .new-collection__img {
    img {
      max-width: 282px;
    }
  }
  .new-collection__text {
    max-width: 338px;
  }
  .new-collection__title {
    font-size: 30px;
  }
  .new-collection {
    padding: 35px 0 100px 0;
  }
  .new-collection__link {
    margin-top: 36px;
  }
  .new-collection {
    background-position: 62px -70px;
    background-size: 200px;
  }
  .appointment__form-title {
    font-size: 20px;
    margin-bottom: 50px;
  }
  .appointment__title {
    font-size: 30px;
    padding-bottom: 50px;
  }
  .appointment__img {
    width: 308px;
    height: 583px;
    object-fit: cover;
  }
  .reviews-top {
    flex-direction: column;
    row-gap: 20px;
  }
  .categories__title {
    font-size: 20px;
    margin-inline: 10px;
  }
  .view-mode__cards--line .categories__img {
    min-width: 250px;
  }
  .blog__cards.view-mode__cards--grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .categories__item picture {
    align-self: center;
  }
  .blog__nav {
    flex-wrap: wrap;
    padding-block: 16px;
  }
  .blog__nav-title {
    margin-bottom: 10px;
  }
  .blog-one h1 {
    font-size: 44px;
  }
  .products__img-right {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .products__imgs {
    grid-template-columns: 155px 155px;
    grid-template-rows: 650px 260px;
    gap: 10px;
  }
  .products__content {
    column-gap: 20px;
    row-gap: 0;
  }
  .products__btn-half {
    grid-column: span 2;
  }
  .products__btns {
    row-gap: 20px;
  }
  .products__btn-half {
    height: 40px;
  }
  .products__btns {
    margin-top: auto;
  }
  .products__title {
    margin-bottom: 30px;
  }
  .products__list-text + .products__list-text {
    margin-bottom: 45px;
  }
  .accessories__slide-img {
    width: 270px;
  }
  .accessories__slide {
    picture {
      display: inline-block;
    }
  }
  .catalog-top__title {
    width: 100%;
    order: -1;
  }
  .catalog-top {
    gap: 20px;
    margin-bottom: 50px;
  }
  .catalog .bread-crumbs {
    padding-bottom: 50px;
  }
  .catalog-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .collections-top {
    min-height: 60vh;
  }
}

@media (max-width: 750px) {
  .products__content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .products__text {
    text-align: center;
    width: 300px;
    justify-self: center;
  }
  .products {
    margin-bottom: 100px;
  }
  .products__list-difin.products__list-radio {
    justify-content: center;
  }
  .products__content {
    row-gap: 30px;
  }
}

@media (max-width: 680px) {
  .container {
    max-width: 480px;
  }
  .header__logo {
    margin-right: auto;
  }
  .header__actions-list {
    column-gap: 10px;
  }
  .footer__bottom {
    display: flex;
    justify-content: center;
  }
  .copyright__list {
    column-gap: 37px;
  }
  .copyright__row {
    row-gap: 10px;
    max-width: 378px;
    flex-wrap: wrap;
  }
  .join-us__img {
    max-width: 220px;
  }
  .join-us__title {
    font-size: 20px;
  }
  .join-us__description {
    font-size: 16px;
  }
  .join-us__input {
    font-size: 16px;
  }
  .hero__content-title {
    font-size: 30px;
  }
  .hero__content-text {
    padding-top: 44px;
  }
  .hero__link {
    padding-top: 12px;
    padding-inline: 12.5px;
    padding-bottom: 12px;
  }
  .new-collection__title {
    font-size: 20px;
  }
  .new-collection__description {
    font-size: 16px;
  }
  .new-collection__img {
    padding-top: 70px;

    img {
      max-width: 220px;
    }
  }
  .new-collection__content {
    padding: 70px 0 60px;
    margin-right: -20px;
  }
  .new-collection__text {
    max-width: 220px;
  }
  .new-collection {
    padding: 0;
  }
  .new-collection__inner {
    padding: 0 0 70px 0;
    margin-bottom: 70px;
  }
  .new-collection__link {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
  }
  .appointment__title {
    padding-top: 30px;
  }
  .appointment__form-title {
    margin-bottom: 30px;
  }
  .appointment__form-description {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .appointment__input {
    padding-bottom: 13px;
    font-size: 16px;
  }
  .appointment__img {
    width: 220px;
    height: 505px;
  }
  .appointment__wrapper {
    padding-bottom: 70px;
  }
  .reviews-top__title {
    font-size: 45px;
    row-gap: 30px;
  }
  .reviews-top__link {
    font-size: 20px;
    align-self: end;
  }
  .reviews__add {
    padding: 12px 20px;
  }
  .reviews__rating {
    flex-direction: column;
    align-items: start;
  }
  .blog__btns {
    position: absolute;
    top: 0;
    right: 10px;
    translate: 0 50%;
  }
  .blog__nav {
    position: relative;
  }
  .blog__nav-title {
    width: 100%;
  }
  .select__wrapper .select {
    margin-right: 0;
  }
  .blog__nav-boxright {
    flex-direction: column;
    row-gap: 15px;
    margin-top: 10px;
  }
  .container-big .view-mode__cards--line .categories__item .categories__name {
    margin: 5px 5px auto 5px;
  }
  .blog-one h1 {
    text-align: center;
  }
  .blog-one picture {
    margin-block: 10px;
  }
  .blog-one picture:first-of-type {
    padding-block: 20px;
    margin-bottom: 20px;
  }
  .blog-one h3:first-of-type {
    margin-bottom: 20px;
  }
  .blog-one h3 {
    margin-top: 20px;
  }
  .blog-one h3:last-of-type {
    margin-bottom: 20px;
  }
  .blog-one__stats {
    margin-left: 20px;
  }
  .blog-one__row {
    flex-wrap: wrap;
  }
  .products__imgs {
    justify-content: center;
  }
  .collections {
    &__items {
      display: grid;
      grid-template-areas:none;
      grid-template-columns: repeat(1, 300px);
      gap: 20px;
      justify-content: center;
    }

    &__item {
      height: 100%;
    }
  }
}

@media (max-width: 550px) {
  .blog__top-title {
    font-size: 24px;
  }
  .blog__top-description {
    font-size: 16px;
  }
  .blog__top-link {
    font-size: 20px;
  }
  .blog__cards.view-mode__cards--grid {
    grid-template-columns: 1fr;
  }
  .blog .view-mode__cards--line .categories__item .categories__title {
    margin-right: 0;
    margin-left: 5px;
    font-size: 16px;
  }
  .blog .view-mode__cards--line .categories__item .categories__name {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 4px 16px;
  }
  .blog .view-mode__cards--line .categories__item .categories__date {
    margin-right: 0;
  }
  .view-mode__cards--line .categories__img {
    min-width: 200px;
  }
  .blog-one h3 {
    font-size: 22px;
  }
  .footer__nav {
    display: flex;
    justify-content: center;
  }
  .footer__nav--list {
    padding-top: 70px;
    gap: 10px 35px;
    flex-wrap: wrap;
    width: 286px;
  }
  .footer__elements {
    text-align: center;
    justify-content: center;
    gap: 30px 100px;
  }
  .footer__element--social {
    margin-top: 30px;
    justify-content: center;
  }
  .copyright__row {
    max-width: 360px;
  }
  .checkout-top {
    justify-content: center;

    svg {
      display: none;
    }
  }
}

@media (max-width: 400px) {
  .header__actions-list {
    column-gap: 12px;
  }
  .header__actions-item {
    width: 20px;
    height: 20px;
  }
  .menu__btn {
    width: 25px;
    height: 16px;
    -webkit-tap-highlight-color: transparent;

    &:active {
      outline: none;
      background-color: transparent;
    }
  }
  .join-us__img {
    max-width: 160px;
  }
  .join-us__description {
    font-size: 16px;
  }
  .join-us__caption {
    font-size: 8px;
  }
  .hero__content {
    row-gap: 20px;
  }
  .hero__content-text {
    padding-top: 32px;
  }
  .hero__link {
    font-size: 16px;
    padding-top: 15px;
    padding-inline: 5.5px;
    padding-bottom: 15px;
  }
  .new-collection__inner {
    column-gap: 20px;
  }
  .new-collection__content {
    padding-bottom: 0;
    margin-right: 0;
    max-width: 160px;
  }
  .new-collection__img {
    padding-top: 70px;

    img {
      max-width: 160px;
    }
  }
  .new-collection__title {
    padding-bottom: 15px;
  }
  .new-collection__description:last-of-type {
    display: none;
  }
  .logo {
    img {
      max-width: 162px;
    }
  }
  .appointment__title {
    font-size: 20px;
  }
  .appointment__wrapper {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .appointment__img {
    width: 339px;
    height: 250px;
    margin-bottom: 30px;
  }
  .appointment__form-title {
    text-align: center;
    max-width: 220px;
  }
  .appointment__btn {
    margin-top: 30px;
  }
  .catalog-cards {
    grid-template-columns: 1fr;
  }
  .catalog-body {
    justify-content: center;
  }
}
