<div class="collections__items">
  <div class="collections__item">
    <picture>
      <source srcset="img/collections/collections-1.avif" type="image/avif">
      <source srcset="img/collections/collections-1.webp" type="image/webp">
      <img
        class="collections__img"
        src="img/collections/collection-1.jpg"
        alt="Alt text"
        loading="lazy"
      >
    </picture>
    <button class="collections__like">
      <svg width="24" height="21">
        <use xlink:href="img/sprite.svg#like"></use>
      </svg>
    </button>
    <a class="collections__link" href="#!">ICONIC</a>
  </div>

  <div class="collections__item">
    <picture>
      <source srcset="img/collections/collections-2.avif" type="image/avif">
      <source srcset="img/collections/collections-2.webp" type="image/webp">
      <img
        class="collections__img"
        src="img/collections/collection-2.jpg"
        alt="Alt text"
        loading="lazy"
      >
    </picture>
    <button class="collections__like">
      <svg width="24" height="21">
        <use xlink:href="img/sprite.svg#like"></use>
      </svg>
    </button>
    <a class="collections__link" href="#!">ICONIC</a>
  </div>

  <div class="collections__item">
    <picture>
      <source srcset="img/collections/collections-3.avif" type="image/avif">
      <source srcset="img/collections/collections-3.webp" type="image/webp">
      <img
        class="collections__img"
        src="img/collections/collection-3.jpg"
        alt="Alt text"
        loading="lazy"
      >
    </picture>
    <button class="collections__like">
      <svg width="24" height="21">
        <use xlink:href="img/sprite.svg#like"></use>
      </svg>
    </button>
    <a class="collections__link" href="#!">ICONIC</a>
  </div>

  <div class="collections__item">
    <picture>
      <source srcset="img/collections/collections-4.avif" type="image/avif">
      <source srcset="img/collections/collections-4.webp" type="image/webp">
      <img
        class="collections__img"
        src="img/collections/collection-4.jpg"
        alt="Alt text"
        loading="lazy"
      >
    </picture>
    <button class="collections__like">
      <svg width="24" height="21">
        <use xlink:href="img/sprite.svg#like"></use>
      </svg>
    </button>
    <a class="collections__link" href="#!">ICONIC</a>
  </div>

  <div class="collections__item">
    <picture>
      <source srcset="img/collections/collections-5.avif" type="image/avif">
      <source srcset="img/collections/collections-5.webp" type="image/webp">
      <img
        class="collections__img"
        src="img/collections/collection-5.jpg"
        alt="Alt text"
        loading="lazy"
      >
    </picture>
    <button class="collections__like">
      <svg width="24" height="21">
        <use xlink:href="img/sprite.svg#like"></use>
      </svg>
    </button>
    <a class="collections__link" href="#!">ICONIC</a>
  </div>

  <div class="collections__item">
    <picture>
      <source srcset="img/collections/collections-6.avif" type="image/avif">
      <source srcset="img/collections/collections-6.webp" type="image/webp">
      <img
        class="collections__img"
        src="img/collections/collection-6.jpg"
        alt="Alt text"
        loading="lazy"
      >
    </picture>
    <button class="collections__like">
      <svg width="24" height="21">
        <use xlink:href="img/sprite.svg#like"></use>
      </svg>
    </button>
    <a class="collections__link" href="#!">СRÈME DE LA CRÈME</a>
  </div>
  <div class="collections__item">
    <picture>
      <source srcset="img/collections/collections-7.avif" type="image/avif">
      <source srcset="img/collections/collections-7.webp" type="image/webp">
      <img
        class="collections__img"
        src="img/collections/collection-7.jpg"
        alt="Alt text"
        loading="lazy"
      >
    </picture>
    <button class="collections__like">
      <svg width="24" height="21">
        <use xlink:href="img/sprite.svg#like"></use>
      </svg>
    </button>
    <a class="collections__link" href="#!">СRÈME DE LA CRÈME</a>
  </div>

  <div class="collections__item">
    <picture>
      <source srcset="img/collections/collections-8.avif" type="image/avif">
      <source srcset="img/collections/collections-8.webp" type="image/webp">
      <img
        class="collections__img"
        src="img/collections/collection-8.jpg"
        alt="Alt text"
        loading="lazy"
      >
    </picture>
    <button class="collections__like">
      <svg width="24" height="21">
        <use xlink:href="img/sprite.svg#like"></use>
      </svg>
    </button>
    <a class="collections__link" href="#!">СRÈME DE LA CRÈME</a>
  </div>

  <div class="collections__item">
    <picture>
      <source srcset="img/collections/collections-9.avif" type="image/avif">
      <source srcset="img/collections/collections-9.webp" type="image/webp">
      <img
        class="collections__img"
        src="img/collections/collection-9.jpg"
        alt="Alt text"
        loading="lazy"
      >
    </picture>
    <button class="collections__like">
      <svg width="24" height="21">
        <use xlink:href="img/sprite.svg#like"></use>
      </svg>
    </button>
    <a class="collections__link" href="#!">СRÈME DE LA CRÈME</a>
  </div>

  <div class="collections__item">
    <picture>
      <source srcset="img/collections/collections-10.avif" type="image/avif">
      <source srcset="img/collections/collections-10.webp" type="image/webp">
      <img
        class="collections__img"
        src="img/collections/collection-10.jpg"
        alt="Alt text"
        loading="lazy"
      >
    </picture>
    <button class="collections__like">
      <svg width="24" height="21">
        <use xlink:href="img/sprite.svg#like"></use>
      </svg>
    </button>
    <a class="collections__link" href="#!">СRÈME DE LA CRÈME</a>
  </div>

  <div class="collections__item">
    <picture>
      <source srcset="img/collections/collections-11.avif" type="image/avif">
      <source srcset="img/collections/collections-11.webp" type="image/webp">
      <img
        class="collections__img"
        src="img/collections/collection-11.jpg"
        alt="Alt text"
        loading="lazy"
      >
    </picture>
    <button class="collections__like">
      <svg width="24" height="21">
        <use xlink:href="img/sprite.svg#like"></use>
      </svg>
    </button>
    <a class="collections__link" href="#!">СRÈME DE LA CRÈME</a>
  </div>

  <div class="collections__item">
    <picture>
      <source srcset="img/collections/collections-12.avif" type="image/avif">
      <source srcset="img/collections/collections-12.webp" type="image/webp">
      <img
        class="collections__img"
        src="img/collections/collection-12.jpg"
        alt="Alt text"
        loading="lazy"
      >
    </picture>
    <button class="collections__like">
      <svg width="24" height="21">
        <use xlink:href="img/sprite.svg#like"></use>
      </svg>
    </button>
    <a class="collections__link" href="#!">СRÈME DE LA CRÈME</a>
  </div>

  <div class="collections__item">
    <picture>
      <source srcset="img/collections/collections-13.avif" type="image/avif">
      <source srcset="img/collections/collections-13.webp" type="image/webp">
      <img
        class="collections__img"
        src="img/collections/collection-13.jpg"
        alt="Alt text"
        loading="lazy"
      >
    </picture>
    <button class="collections__like">
      <svg width="24" height="21">
        <use xlink:href="img/sprite.svg#like"></use>
      </svg>
    </button>
    <a class="collections__link" href="#!">ICONIC</a>
  </div>

  <div class="collections__item">
    <picture>
      <source srcset="img/collections/collections-14.avif" type="image/avif">
      <source srcset="img/collections/collections-14.webp" type="image/webp">
      <img
        class="collections__img"
        src="img/collections/collection-14.jpg"
        alt="Alt text"
        loading="lazy"
      >
    </picture>
    <button class="collections__like">
      <svg width="24" height="21">
        <use xlink:href="img/sprite.svg#like"></use>
      </svg>
    </button>
    <a class="collections__link" href="#!">ICONIC</a>
  </div>
</div>