<div class="pagination-collections" aria-label="pagination">
    <div class="container">
        <ul class="pagination-collections__list">
            <li class="pagination-collections__item">
                <a class="pagination-collections__link pagination-collections__link--arrow pagination-collections__link--disabled"
                    href="#">
                    <svg width="12" height="5">
                        <use xlink:href="img/sprite.svg#arrow-prev"></use>
                    </svg>
                </a>
            </li>
            <li class="pagination-collections__item">
                <a class="pagination-collections__link pagination-collections__link--active" href="#">1</a>
            </li>
            <li class="pagination-collections__item">
                <a class="pagination-collections__link" href="#">2</a>
            </li>
            <li class="pagination-collections__item">
                <a class="pagination-collections__link" href="#">3</a>
            </li>
            <li class="pagination-collections__item mobile-hidden">
                <a class="pagination-collections__link" href="#">4</a>
            </li>
            <li class="pagination-collections__item">
                <span class="pagination-collections__decor">...</span>
            </li>
            <li class="pagination-collections__item mobile-hidden">
                <a class="pagination-collections__link" href="#">19</a>
            </li>
            <li class="pagination-collections__item">
                <a class="pagination-collections__link" href="#">20</a>
            </li>
            <li class="pagination-collections__item">
                <a class="pagination-collections__link" href="#">21</a>
            </li>
            <li class="pagination-collections__item">
                <a class="pagination-collections__link pagination-collections__link--arrow" href="#">
                    <svg width="12" height="5">
                        <use xlink:href="img/sprite.svg#arrow-next"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>