@use "../base/vars";
@use "../base/mixins";

.btn {
  transition: opacity 0.4s ease-in-out, background-color 0.2s ease-in-out;

  &--accent {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-inline: 38.5px;
    text-transform: uppercase;
    color: vars.$color-text-btn;
    background-color: vars.$color-accent;
    border-radius: 3px;

    &:focus {
      background-color: vars.$color-focus;
    }
  }

  &--alt {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: vars.$color-text-muted;
    border: 1px solid vars.$color-text-muted;

    &:focus {
      color: vars.$color-focus;
    }
  }

  @include mixins.hover {
    &:active {
      background-color: black;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}
