
<div class="categories__item">
    <picture>
        <source srcset="img/blog/blog-2.avif" type="image/avif">
        <source srcset="img/blog/blog-2.webp" type="image/webp">
        <img class="categories__img" src="img/accessories/accessories-2.jpg" alt="Wedding" loading="lazy">
    </picture>
    <a class="categories__name"  href="#">Wedding</a>
    <a class="categories__title" href="#">The Ultimate Wedding Checklist: From &#39;Yes!&#39; to &#39;I Do</a>
    <p class="categories__date">1 day ago</p>
</div>

<div class="categories__item">
    <picture>
        <source srcset="img/blog/blog-3.avif" type="image/avif">
        <source srcset="img/blog/blog-3.webp" type="image/webp">
        <img class="categories__img" src="img/accessories/accessories-3.jpg" alt="Wedding Dress" loading="lazy">
    </picture>
    <a class="categories__name"  href="#">Wedding Dress</a>
    <a class="categories__title" href="#">How to Choose the Perfect Wedding Dress for Your Style</a>
    <p class="categories__date">1 day ago</p>
</div>

<div class="categories__item">
    <picture>
        <source srcset="img/blog/blog-4.avif" type="image/avif">
        <source srcset="img/blog/blog-4.webp" type="image/webp">
        <img class="categories__img" src="img/accessories/accessories-4.jpg" alt="Rings" loading="lazy">
    </picture>
    <a class="categories__name"  href="#">Rings</a>
    <a class="categories__title" href="#">Wedding Rings 101: A Modern Guide to Styles</a>
    <p class="categories__date">2 days ago</p>
</div>

<div class="categories__item">
    <picture>
        <source srcset="img/blog/blog-5.avif" type="image/avif">
        <source srcset="img/blog/blog-5.webp" type="image/webp">
        <img class="categories__img" src="img/accessories/accessories-5.jpg" alt="Wedding" loading="lazy">
    </picture>
    <a class="categories__name"  href="#">Wedding</a>
    <a class="categories__title" href="#">Picture-Perfect Moments:  Wedding Photo Ideas</a>
    <p class="categories__date">1 week ago</p>
</div>

<div class="categories__item">
    <picture>
        <source srcset="img/blog/blog-6.avif" type="image/avif">
        <source srcset="img/blog/blog-6.webp" type="image/webp">
        <img class="categories__img" src="img/accessories/accessories-6.jpg" alt="Bouquets" loading="lazy">
    </picture>
    <a class="categories__name"  href="#">Bouquets</a>
    <a class="categories__title" href="#">Minimalist Weddings: Simple, Elegant, Unforgettable</a>
    <p class="categories__date">1 week ago</p>
</div>

<div class="categories__item">
    <picture>
        <source srcset="img/blog/blog-7.avif" type="image/avif">
        <source srcset="img/blog/blog-7.webp" type="image/webp">
        <img class="categories__img" src="img/accessories/accessories-7.jpg" alt="Wedding" loading="lazy">
    </picture>
    <a class="categories__name"  href="#">Wedding</a>
    <a class="categories__title" href="#">5 Dress Changes for the Bride Who Wants It All</a>
    <p class="categories__date">1 week ago</p>
</div>

<div class="categories__item">
    <picture>
        <source srcset="img/blog/blog-8.avif" type="image/avif">
        <source srcset="img/blog/blog-8.webp" type="image/webp">
        <img class="categories__img" src="img/accessories/accessories-8.jpg" alt="Rings" loading="lazy">
    </picture>
    <a class="categories__name"  href="#">Rings</a>
    <a class="categories__title" href="#">Top Wedding Trends of the Year: What’s In &amp; What’s Out</a>
    <p class="categories__date">2 week ago</p>
</div>

<div class="categories__item">
    <picture>
        <source srcset="img/blog/blog-9.avif" type="image/avif">
        <source srcset="img/blog/blog-9.webp" type="image/webp">
        <img class="categories__img" src="img/accessories/accessories-9.jpg" alt="Wedding Dress" loading="lazy">
    </picture>
    <a class="categories__name"  href="#">Wedding Dress</a>
    <a class="categories__title" href="#">Bridal Bouquets That Wow: 20 Stunning Ideas </a>
    <p class="categories__date">3 week ago</p>
</div>

