
<article class="reviews-card">
    <div class="reviews-card__date">
        <span class="reviews-card__day">15</span>
        <span class="reviews-card__month">August</span>
        <span class="reviews-card__year">2025</span>
    </div>
    <div class="reviews-card__rating">
        <span class="reviews-card__number">5.0</span>

        
        
        

        
        <svg width="24" height="24">
            <use xlink:href="img/sprite.svg#star-full"></use>
        </svg>
        
        <svg width="24" height="24">
            <use xlink:href="img/sprite.svg#star-full"></use>
        </svg>
        
        <svg width="24" height="24">
            <use xlink:href="img/sprite.svg#star-full"></use>
        </svg>
        
        <svg width="24" height="24">
            <use xlink:href="img/sprite.svg#star-full"></use>
        </svg>
        
        <svg width="24" height="24">
            <use xlink:href="img/sprite.svg#star-full"></use>
        </svg>
        

        
    </div>
    <div class="reviews-card__customer">
        <picture>
            <source srcset="img/reviews/reviews-icon-1.avif" type="image/avif">
            <source srcset="img/reviews/reviews-icon-1.webp" type="image/webp">
            <img width="50" height="50" class="reviews__card-icon" src="img/reviews/reviews-icon-1.jpg" loading="lazy">
        </picture>
        <div class="reviews-card__name">
            Irina
        </div>
    </div>
    <p class="reviews-card__desc">
        I’m in love with this dress! The classic black design is both timeless and sophisticated. It hugs my body perfectly and the material feels like something from a high-end boutique. I wore it to a formal dinner and felt like a movie star. Would 100% recommend!
    </p>
    <div class="reviews-card__imgs">
        
        
        <picture>
            <source srcset="img/reviews/reviews-1.avif" type="image/avif">
            <source srcset="img/reviews/reviews-1.webp" type="image/webp">
            <img width="70" height="70" class="reviews-card__img" src="img/reviews/reviews-1.jpg" loading="lazy">
        </picture>
        
        <picture>
            <source srcset="img/reviews/reviews-2.avif" type="image/avif">
            <source srcset="img/reviews/reviews-2.webp" type="image/webp">
            <img width="70" height="70" class="reviews-card__img" src="img/reviews/reviews-2.jpg" loading="lazy">
        </picture>
        
        
    </div>
</article>

<article class="reviews-card">
    <div class="reviews-card__date">
        <span class="reviews-card__day">29</span>
        <span class="reviews-card__month">August</span>
        <span class="reviews-card__year">2025</span>
    </div>
    <div class="reviews-card__rating">
        <span class="reviews-card__number">5.0</span>

        
        
        

        
        <svg width="24" height="24">
            <use xlink:href="img/sprite.svg#star-full"></use>
        </svg>
        
        <svg width="24" height="24">
            <use xlink:href="img/sprite.svg#star-full"></use>
        </svg>
        
        <svg width="24" height="24">
            <use xlink:href="img/sprite.svg#star-full"></use>
        </svg>
        
        <svg width="24" height="24">
            <use xlink:href="img/sprite.svg#star-full"></use>
        </svg>
        
        <svg width="24" height="24">
            <use xlink:href="img/sprite.svg#star-full"></use>
        </svg>
        

        
    </div>
    <div class="reviews-card__customer">
        <picture>
            <source srcset="img/reviews/reviews-icon-1.avif" type="image/avif">
            <source srcset="img/reviews/reviews-icon-1.webp" type="image/webp">
            <img width="50" height="50" class="reviews__card-icon" src="img/reviews/reviews-icon-1.jpg" loading="lazy">
        </picture>
        <div class="reviews-card__name">
            Janny
        </div>
    </div>
    <p class="reviews-card__desc">
        Such a romantic and dreamy dress. The soft pink shade is gorgeous, and the flowing fabric makes it so comfortable to wear. I wore it to a wedding and got so many compliments. It’s feminine, elegant, and very well made.
    </p>
    <div class="reviews-card__imgs">
        
        
        
    </div>
</article>

<article class="reviews-card">
    <div class="reviews-card__date">
        <span class="reviews-card__day">1</span>
        <span class="reviews-card__month">August</span>
        <span class="reviews-card__year">2025</span>
    </div>
    <div class="reviews-card__rating">
        <span class="reviews-card__number">5.0</span>

        
        
        

        
        <svg width="24" height="24">
            <use xlink:href="img/sprite.svg#star-full"></use>
        </svg>
        
        <svg width="24" height="24">
            <use xlink:href="img/sprite.svg#star-full"></use>
        </svg>
        
        <svg width="24" height="24">
            <use xlink:href="img/sprite.svg#star-full"></use>
        </svg>
        
        <svg width="24" height="24">
            <use xlink:href="img/sprite.svg#star-full"></use>
        </svg>
        
        <svg width="24" height="24">
            <use xlink:href="img/sprite.svg#star-full"></use>
        </svg>
        

        
    </div>
    <div class="reviews-card__customer">
        <picture>
            <source srcset="img/reviews/reviews-icon-1.avif" type="image/avif">
            <source srcset="img/reviews/reviews-icon-1.webp" type="image/webp">
            <img width="50" height="50" class="reviews__card-icon" src="img/reviews/reviews-icon-1.jpg" loading="lazy">
        </picture>
        <div class="reviews-card__name">
            Merry
        </div>
    </div>
    <p class="reviews-card__desc">
        I’m in love with this dress! The classic black design is both timeless and sophisticated. It hugs my body perfectly and the material feels like something from a high-end boutique. I wore it to a formal dinner and felt like a movie star. Would 100% recommend!
    </p>
    <div class="reviews-card__imgs">
        
        
        <picture>
            <source srcset="img/reviews/reviews-1.avif" type="image/avif">
            <source srcset="img/reviews/reviews-1.webp" type="image/webp">
            <img width="70" height="70" class="reviews-card__img" src="img/reviews/reviews-1.jpg" loading="lazy">
        </picture>
        
        <picture>
            <source srcset="img/reviews/reviews-2.avif" type="image/avif">
            <source srcset="img/reviews/reviews-2.webp" type="image/webp">
            <img width="70" height="70" class="reviews-card__img" src="img/reviews/reviews-2.jpg" loading="lazy">
        </picture>
        
        
    </div>
</article>

<article class="reviews-card">
    <div class="reviews-card__date">
        <span class="reviews-card__day">7</span>
        <span class="reviews-card__month">August</span>
        <span class="reviews-card__year">2025</span>
    </div>
    <div class="reviews-card__rating">
        <span class="reviews-card__number">4.0</span>

        
        
        

        
        <svg width="24" height="24">
            <use xlink:href="img/sprite.svg#star-full"></use>
        </svg>
        
        <svg width="24" height="24">
            <use xlink:href="img/sprite.svg#star-full"></use>
        </svg>
        
        <svg width="24" height="24">
            <use xlink:href="img/sprite.svg#star-full"></use>
        </svg>
        
        <svg width="24" height="24">
            <use xlink:href="img/sprite.svg#star-full"></use>
        </svg>
        

        
        <svg width="24" height="24">
            <use xlink:href="img/sprite.svg#star-emp"></use>
        </svg>
        
    </div>
    <div class="reviews-card__customer">
        <picture>
            <source srcset="img/reviews/reviews-icon-1.avif" type="image/avif">
            <source srcset="img/reviews/reviews-icon-1.webp" type="image/webp">
            <img width="50" height="50" class="reviews__card-icon" src="img/reviews/reviews-icon-1.jpg" loading="lazy">
        </picture>
        <div class="reviews-card__name">
            Vanessa
        </div>
    </div>
    <p class="reviews-card__desc">
        I’m in love with this dress! The classic black design is both timeless and sophisticated. It hugs my body perfectly and the material feels like something from a high-end boutique. I wore it to a formal dinner and felt like a movie star. Would 100% recommend!
    </p>
    <div class="reviews-card__imgs">
        
        
        
    </div>
</article>
